.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    background-color: rgb(7, 20, 28);
}

.title {
    margin-top: 20px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input span {
    margin: 5px;
}

.message {
    min-height: 20px;
}